<a href="https://colab.research.google.com/github/kashmiricoder/PWSkills-Assignments/blob/main/WebAPI.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
! pip install requests

Requirement already satisfied: requests in /usr/local/lib/python3.10/dist-packages (2.31.0)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.10/dist-packages (from requests) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests) (3.7)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests) (2.0.7)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests) (2024.2.2)

In [11]:
#google maps API

In [ ]:
#Requests methods -> get,put,delete
#response attributes -> .text, .status_code, .headers, .encoding

In [41]:
import requests
response=requests.get('https://codingninjas.in/api/v3/courses')
data=response.text
type(data)

str

In [40]:
import requests
response=requests.get('https://codingninjas.in/api/v3/courses')
header_inf=response.headers

In [42]:
#JSON to Python
import json

json_data='{"name":"Paras","age":20,"cars":["lambpo","ferrari"]}'
# print(type(json_data)) check the type of a json string
python_data=json.loads(json_data)
python_data['cars']

<class 'str'>

['lambpo', 'ferrari']

In [22]:
json_data1='{"rollno":23.9}'
print(json.loads(json_data1)['rollno'])

23.9

In [27]:
#Dict of Dict

json_data1='{"student":{"name":"Paras","age":20,"cars":["lambpo","ferrari"]}}'
data=json.loads(json_data1)
student_details=data["student"]

print(student_details)

{'name': 'Paras', 'age': 20, 'cars': ['lambpo', 'ferrari']}

In [35]:
#Conversions
#arrays --> array/tuples
js_data='{"name":[1]}'
data=json.loads(js_data)
type(data['name'])

list

##Extracting data from a website

In [75]:
#Getting all course from Coding Ninjas website

import requests

response = requests.get('https://api.codingninjas.com/api/v3/courses')
# py_data=json.loads(response.text) Longer Method
py_data=response.json()
all_course=py_data['data']['courses']

for i in all_course:
  print(i['id'],i['title'])

6 Machine Learning
42 Premium Web Dev Course
41 Premium Competitive Course
45 Premium Android Course
44 Premium Machine Learning Course
40 Data structures and Algorithms [C++/Java/Python]
1 C++ & Data Structures
135 C++ & Data Structures
73 System Design Course
34 Front End (React)
43 Premium Data Science Course
16 Competitive Programmer
12 Web Dev (Full Stack)
2 Java & Data Structures
35 Android Developer
36 Python & Web Dev (MERN)
13 Data Science
66 Grokking the Operating Systems Interview
10 Competitive Programming
17 C++ & Web Dev (Node.js)
33 Android (Kotlin)
18 Data Scientist
19 Machine Learning
21 Aptitude Preparation

In [84]:
#dog API
#List all breeds

response=requests.get('https://dog.ceo/api/breeds/list/all')
python_data=response.json()
dogs=python_data['message']
for keys,values in dogs.items():
  print(keys,"| Number of subbreeds:",len(values))

affenpinscher | Number of subbreeds: 0
african | Number of subbreeds: 0
airedale | Number of subbreeds: 0
akita | Number of subbreeds: 0
appenzeller | Number of subbreeds: 0
australian | Number of subbreeds: 1
basenji | Number of subbreeds: 0
beagle | Number of subbreeds: 0
bluetick | Number of subbreeds: 0
borzoi | Number of subbreeds: 0
bouvier | Number of subbreeds: 0
boxer | Number of subbreeds: 0
brabancon | Number of subbreeds: 0
briard | Number of subbreeds: 0
buhund | Number of subbreeds: 1
bulldog | Number of subbreeds: 3
bullterrier | Number of subbreeds: 1
cattledog | Number of subbreeds: 1
chihuahua | Number of subbreeds: 0
chow | Number of subbreeds: 0
clumber | Number of subbreeds: 0
cockapoo | Number of subbreeds: 0
collie | Number of subbreeds: 1
coonhound | Number of subbreeds: 0
corgi | Number of subbreeds: 1
cotondetulear | Number of subbreeds: 0
dachshund | Number of subbreeds: 0
dalmatian | Number of subbreeds: 0
dane | Number of subbreeds: 1
deerhound | Number of subbreeds: 1
dhole | Number of subbreeds: 0
dingo | Number of subbreeds: 0
doberman | Number of subbreeds: 0
elkhound | Number of subbreeds: 1
entlebucher | Number of subbreeds: 0
eskimo | Number of subbreeds: 0
finnish | Number of subbreeds: 1
frise | Number of subbreeds: 1
germanshepherd | Number of subbreeds: 0
greyhound | Number of subbreeds: 1
groenendael | Number of subbreeds: 0
havanese | Number of subbreeds: 0
hound | Number of subbreeds: 7
husky | Number of subbreeds: 0
keeshond | Number of subbreeds: 0
kelpie | Number of subbreeds: 0
komondor | Number of subbreeds: 0
kuvasz | Number of subbreeds: 0
labradoodle | Number of subbreeds: 0
labrador | Number of subbreeds: 0
leonberg | Number of subbreeds: 0
lhasa | Number of subbreeds: 0
malamute | Number of subbreeds: 0
malinois | Number of subbreeds: 0
maltese | Number of subbreeds: 0
mastiff | Number of subbreeds: 3
mexicanhairless | Number of subbreeds: 0
mix | Number of subbreeds: 0
mountain | Number of subbreeds: 2
newfoundland | Number of subbreeds: 0
otterhound | Number of subbreeds: 0
ovcharka | Number of subbreeds: 1
papillon | Number of subbreeds: 0
pekinese | Number of subbreeds: 0
pembroke | Number of subbreeds: 0
pinscher | Number of subbreeds: 1
pitbull | Number of subbreeds: 0
pointer | Number of subbreeds: 2
pomeranian | Number of subbreeds: 0
poodle | Number of subbreeds: 4
pug | Number of subbreeds: 0
puggle | Number of subbreeds: 0
pyrenees | Number of subbreeds: 0
redbone | Number of subbreeds: 0
retriever | Number of subbreeds: 4
ridgeback | Number of subbreeds: 1
rottweiler | Number of subbreeds: 0
saluki | Number of subbreeds: 0
samoyed | Number of subbreeds: 0
schipperke | Number of subbreeds: 0
schnauzer | Number of subbreeds: 2
segugio | Number of subbreeds: 1
setter | Number of subbreeds: 3
sharpei | Number of subbreeds: 0
sheepdog | Number of subbreeds: 2
shiba | Number of subbreeds: 0
shihtzu | Number of subbreeds: 0
spaniel | Number of subbreeds: 7
spitz | Number of subbreeds: 1
springer | Number of subbreeds: 1
stbernard | Number of subbreeds: 0
terrier | Number of subbreeds: 23
tervuren | Number of subbreeds: 0
vizsla | Number of subbreeds: 0
waterdog | Number of subbreeds: 1
weimaraner | Number of subbreeds: 0
whippet | Number of subbreeds: 0
wolfhound | Number of subbreeds: 1

In [87]:
#getting a random dog image

response=requests.get('https://dog.ceo/api/breeds/image/random')
py_data=response.json()

dog_url=py_data['message']
image=requests.get(dog_url)

with open("photo.jpg","wb") as file:
  doggypic=file.write(image.content)

In [99]:
 #countries
params={}
response=requests.get('https://api.openaq.org/v2/cities',params=params)
py_data=response.json()
py_data

"1 validation error for CitiesV1\ncountry\n  List should have at least 2 items after validation, not 1 [type=too_short, input_value=['US'], input_type=list]\n    For further information visit https://errors.pydantic.dev/2.1.2/v/too_short"

In [114]:
#NASA KEYT

response=requests.get('https://api.nasa.gov/mars-photos/api/v1/rovers/curiosity/photos?sol=1000&api_key=DEMO_KEY')
py_data=response.json()
l=py_data['photos']
urls=[]

for i in range(5):
  urls.append(l[i]['img_src'])

for j in range(5):
  maal=requests.get(urls[j])
  with open(f"pic{j}.jpg","wb") as test:
    test.write(maal.content)



  # with open("nasa.jpg","wb") as file:
  #   file.write(img.content)

POST REQUEST

In [120]:
r=requests.post('https://jsonplaceholder.typicode.com/posts',data=[("name","raina"),("gender","amale")])
r.status_code
r.text

'{\n  "name": "raina",\n  "gender": "amale",\n  "id": 101\n}'

In [3]:
q=[12,14,5,51,2]
q.sort()
q

[2, 5, 12, 14, 51]

HTTP BASIC AUTH

In [8]:
import requests
from requests.auth import HTTPDigestAuth
url = 'https://httpbin.org/digest-auth/auth/user/pass'
requests.get(url, auth=HTTPDigestAuth('user', 'pass'))